body {
		padding-bottom: 20px;
}

.text-justify {
	text-align: justify;
	text-justify: newspaper;
}

.navbar {
	min-width: 330px;
}

.padding-top {
	padding-top: 80px;
}

#loading {
	position: absolute;
	width: 300px;
	top: 10px;
	left: 500px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	z-index: 1040;
}

/* CKEditor office2013 (Remove Shadow) */
.cke_chrome {
	box-shadow: none !important;
}

/*
 * Bootstrap centered columns
 */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

.table.rowclick > tbody > tr {
	cursor: pointer;
}

/*
 * Messenger BOX (Shadow)
 */
div.messenger-message {
	box-shadow: #464646 0px 7px 34px;
}

/*
 * Animation
 */
.animate-fade-up {
	-webkit-animation: 0.35s fade-up-enter;
	-moz-animation: 0.35s fade-up-enter;
	-o-animation: 0.35s fade-up-enter;
	animation: 0.35s fade-up-enter;
}
@-webkit-keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-o-keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

.animate-fade-down {
	-webkit-animation: 0.35s fade-down-enter;
	-moz-animation: 0.35s fade-down-enter;
	-o-animation: 0.35s fade-down-enter;
	animation: 0.35s fade-down-enter;
}
@-webkit-keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-o-keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

/*
 * End Animation
 */

/* Sidebar menu active border */
ul.sidebar-menu > li, ul.sidebar-menu > li.treeview > ul.treeview-menu > li {
	position: relative;
}
ul.sidebar-menu > li.active:not(.treeview)::after, 
ul.sidebar-menu > li.treeview > ul.treeview-menu > li.active::after
{
	border-right: solid #09F 5px;
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.nav-tabs-custom > .nav-tabs > li > a:hover {
	background-color: #eee;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: transparent;
}

/* Searchform button */
form.searchform > div > div > span > .btn {
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form.searchform > div > div > input[type=text]:focus + span > .btn {
	border-color: #3c8dbc !important;
}