body {
		padding-bottom: 20px;
}

select {
	outline: none;
}

button.btn.dropdown-toggle.selectpicker {
	border-radius: 0px !important;
	box-shadow: none;
	border-color: #ccc;
}

textarea.vert {
	resize: vertical;
}

textarea.horiz {
	resize: horizontal;
}

textarea.noresize {
	resize: none;
}

.box-footer {
	cursor: default;
}

.box-footer .btn {
	margin-left: 8px;
}

.text-justify {
	text-align: justify;
	text-justify: newspaper;
}

.table.ellipsis td,
td.ellipsis {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navbar {
	min-width: 330px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.padding-top {
	padding-top: 80px;
}

#loading {
	position: absolute;
	width: 300px;
	top: 10px;
	left: 500px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	z-index: 1040;
}

/* CKEditor office2013 (Remove Shadow) */
.cke_chrome {
	box-shadow: none !important;
}

/*
 * Bootstrap centered columns
 */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

.table.rowclick > tbody > tr {
	cursor: pointer;
}
td.status {
	/*vertical-align: middle !important;*/
	text-align: center !important;
}

/*
 * Messenger BOX (Shadow)
 */
div.messenger-message {
	box-shadow: #464646 0px 7px 34px;
}

/*
 * Animation
 */
.animate-fade-up {
	-webkit-animation: 0.35s fade-up-enter;
	-moz-animation: 0.35s fade-up-enter;
	-o-animation: 0.35s fade-up-enter;
	animation: 0.35s fade-up-enter;
}
@-webkit-keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-o-keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fade-up-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

.animate-fade-down {
	-webkit-animation: 0.35s fade-down-enter;
	-moz-animation: 0.35s fade-down-enter;
	-o-animation: 0.35s fade-down-enter;
	animation: 0.35s fade-down-enter;
}
@-webkit-keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-o-keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes fade-down-enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

/*
 * End Animation
 */

/* Sidebar menu active border */
ul.sidebar-menu > li, ul.sidebar-menu > li.treeview > ul.treeview-menu > li {
	position: relative;
}
ul.sidebar-menu > li.active:not(.treeview)::after,
ul.sidebar-menu > li.treeview > ul.treeview-menu > li.active::after
{
	border-right: solid #09F 5px;
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.nav-tabs-custom > .nav-tabs > li > a:hover {
	background-color: #eee;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: transparent;
}

/* Searchform button */
form.searchform > div > div > span > .btn {
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form.searchform > div > div > input[type=text]:focus + span > .btn {
	border-color: #3c8dbc !important;
}

/* Datepicker  (JQuery UI) */
.ui-datepicker {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}

div.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
	border-radius: 0px;
	background: #fff;
	border: solid 1px #ccc;
	border-bottom: 0;
}

.form-group.has-error .ui-datepicker-inline {
	border-color: #f56954 !important;
}

div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	border-radius: 0;
	background: #3c8dbc;
	border: solid 1px #3c8dbc;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #1D7AF1 !important;
	background: #A1D7F6 !important;
	color: #05A0C7 !important;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image: url(../vendor/css/ui-lightness/images/ui-icons_222222_256x240.png);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #2168D3 !important;
	background: #4CCDFF !important;
	color: #363636 !important;
	font-weight: bold !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #ccc;
	background: none;
	color: #363636;
	text-decoration: underline;
}

.ui-datepicker-title > select {
	height: 22px;
}
/* / Datepicker */
input[type=text].date {
	width: 262px;
}

.nav-tabs-custom > .nav-tabs {
	/*overflow: hidden;*/
}

.nav-tabs-custom > .nav-tabs > li {
	margin-right: 1px;
}

/*
 * ListView
 */

.panel-heading.listview {
	padding: 0;
}

.panel > .list-group:last-child .list-group-item:last-child {
	border-bottom: 1px solid #ddd;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#list1.list-group, #list2.list-group {
	height: 210px;
	overflow-y: auto;
}


/*
 * List Box js
 */

.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer {
	float: left;
	/*margin: 0.25em;*/
}

.pickList_sourceListContainer, .pickList_targetListContainer {
	width: 100%;
}

.pickList_controlsContainer {
	text-align: center;
	margin: 0 18px;
}

.pickList_controlsContainer button {
	display: block;
	width: 100%;
	text-align: center;
}

.pickList_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	height: 204px;
	overflow-y: auto;
	cursor: default;
}

.pickList_selectedListItem {
	background-color: #DAEBFF;
}

.pickList_listLabel {
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
}

.pickList_clear {
	clear: both;
}

.pickList_listItem .image {
	float: left;
}

.pickList_listItem .label {
	float: left;
	padding-left: 0.25em;
}

.pickList_listItem .clear {
	clear: both;
}

.pickList_listItem.ui-state-highlight {
	text-decoration: none;
}

.pickList_sourceListLabel {
	position: relative;
}

.pickList_sourceListLabel:after {
	content: ".";
	color: transparent;
	position: absolute;
	left: 38px;
	right: 15px;
	border-bottom: 1px dotted #FFFFFF;
	pointer-events: none;
}

.searchbox::-webkit-input-placeholder {
	color: white;
}

.searchbox:-moz-placeholder {
	color: white;
}

.searchbox::-moz-placeholder {
	color: white;
}

.searchbox:-ms-input-placeholder {
	color: white;
}

.searchbox {
	width: 100%;
	background: transparent;
	border: 0;
	padding: 0 0 0 22px;
}

.searchbox:focus {
	outline: 0;
}

.pickList .fa {
	position: absolute;
	height: 100%;
	top: 13px;
	pointer-events: none;
}

/*
 * / List Box JS /
 */

/*
 * Button group arrow
 */
.btn-group-wrapper {
	display: table;
	height: 100%;
}

.btn-group-wrapper .middle {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.btn-group-wrapper .middle .inner {
	margin: 50px auto;
}

.list-group .input-group-btn:last-child>.btn {
	border-top-right-radius: 0;
}

.list-group-item {
	border: 1px solid #ccc;
}

.optionlinks {
	position: absolute;
	display: none;
	right: 10px;
	padding-left: 21px;
}

.list-group-item:hover .optionlinks {
	display: block;
}

.editable-click {
	border-bottom: none;
}

#newQuestion .iradio_minimal-red {
	top: 4px;
}

#newQuestion .radio {
	height: 38px;
}

#newQuestion label.choice {
	padding-left: 0;
	display: block;
}

#newQuestion label.boolean {
	padding-left: 0;
	padding-top: 6px;
	display: block;
}

#newQuestion .clabel {
	display: inline-block;
	width: 18px;
}

#newQuestion .nav.nav-tabs,
#newQuestion .nav.nav-tabs > * {
	cursor: pointer;
}

.cke_combo__font .cke_combo_text {
	width: 130px !important;
}

.question-label,
.question-type-label,
.question-answer-label,
.question-choices-label {
	padding-left: 7px;
}

.questionLoading {
	background: rgba(255, 254, 231, 0.5);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.questionLoading span {
	font-size: 40px;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 44%;
}

.box .todo-list > li .label {
	font-size: 14px;
}

.datepicker.datepicker-dropdown {
	z-index: 2000!important;
}

.input-group .bootstrap-timepicker-widget.dropdown-menu {
	top: 38px;
}

.bootstrap-timepicker input {
	text-align: center;
}