.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

vendor/js/plugins/ckeditor/plugins/uploads/*
!vendor/js/plugins/ckeditor/plugins/uploads/index.html
*.~vsd
